[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "~=1.13"
pytest-cov = "~=2.8"
flake8 = "~=3.7"
flake8-builtins = "~=1.4"
flake8-import-order = "~=0.18"
flake8-logging-format = "~=0.6"
flake8-comprehensions = "~=3.2"

[packages]
psutil = "*"
python-json-logger = "*"

[requires]
python_version = "3.7"
